<a href="https://colab.research.google.com/github/kaho0/Aaagh-more-math/blob/main/Fraud_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler

In [2]:
df=pd.read_csv("/content/drive/MyDrive/Datasets/transactions.csv")
df.head(10)

   transaction_id  user_id  ...  shipping_distance_km  is_fraud
0               1        1  ...                370.95         0
1               2        1  ...                149.62         0
2               3        1  ...                164.08         0
3               4        1  ...                397.40         0
4               5        1  ...                935.28         0
5               6        1  ...                289.06         0
6               7        1  ...                443.75         0
7               8        1  ...               1390.59         0
8               9        1  ...                110.51         0
9              10        1  ...                232.34         0

[10 rows x 17 columns]

In [3]:
df.isnull().sum()

transaction_id             0
user_id                    0
account_age_days           0
total_transactions_user    0
avg_amount_user            0
amount                     0
country                    0
bin_country                0
channel                    0
merchant_category          0
promo_used                 0
avs_match                  0
cvv_result                 0
three_ds_flag              0
transaction_time           0
shipping_distance_km       0
is_fraud                   0
dtype: int64

Shape of the dataset

In [6]:
df.shape

(299695, 17)

Unique vaalues per column

In [7]:
df.nunique()

transaction_id             299695
user_id                      6000
account_age_days             1801
total_transactions_user        21
avg_amount_user              5347
amount                      60043
country                        10
bin_country                    10
channel                         2
merchant_category               5
promo_used                      2
avs_match                       2
cvv_result                      2
three_ds_flag                   2
transaction_time           297975
shipping_distance_km        73447
is_fraud                        2
dtype: int64

In [8]:
display(df.dtypes)

transaction_id               int64
user_id                      int64
account_age_days             int64
total_transactions_user      int64
avg_amount_user            float64
amount                     float64
country                     object
bin_country                 object
channel                     object
merchant_category           object
promo_used                   int64
avs_match                    int64
cvv_result                   int64
three_ds_flag                int64
transaction_time            object
shipping_distance_km       float64
is_fraud                     int64
dtype: object

Categorical feature explore